{#{% extends 'bootstrap/base/base.html' %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="RENware Ready Engineered Systems & Software">
    <meta name="keywords" content="RENware, engineered systems, software, distributed systems, project management, software engineering, software architecture,
        value add, embedded, iot, medical care, protection systems, inventory automation">
    <meta name="author" content="Petre Iordanescu">

    <title>RENware main portal</title>

    {% include "base/_base_css.html" %}
</head>

<body><!-- id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">-->
    {% include "base/_base_navbar.html" %}

    <!-------------------------------------------------------------------------------------------------->
    <!-- blocul principal de header - uzual va sta in index                                           -->
    <!-------------------------------------------------------------------------------------------------->
    {% block head_content %}
    {% endblock %}
    <!--petre-- blocul urmator punea butoane sus sub topnav pentru navigare usoara dar nu mai are valoare
                ca atare. este lasat doar sa u dea eroare la rendering si trebuie regindit ca un nav vertical-->
    {% block breadcrumbs %}
    {% endblock %}
    <!-------------------------------------------------------------------------------------------------->
    <!-- mesajele de alerta (cu flash)                             -->
    <!-------------------------------------------------------------------------------------------------->
    <div class="uk-container-xsmall uk-card"> 
        {% for message in get_flashed_messages(with_categories=true) %}
            <div class="uk-alert-primary uk-animation-slide-top" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p><strong>{{ message[0] }}</strong> {{ message[1] }}</p>
            </div>
        {% endfor %}
    </div>

    <!-------------------------------------------------------------------------------------------------->
    <!-- blocul principal de date - are mini nav bar si continut specific                             -->
    <!-------------------------------------------------------------------------------------------------->
    {% block normal_content %}
    {% endblock %}

    {% include "base/_base_footer.html" %}
    {% include "base/_base_jscripts.html" %}
</body>
</html>
