<p><small></p>
<p><strong>RENware ALPHA-REN System</strong></p>
<p><em>(c) REN CONSULTING SOFT ACTIVITY SRL. RESTRICTED only for project internal use</em></p>
<p></small></p>
<h1 id="integrator-system-overview">Integrator System. Overview</h1>
<p><small></p>
<p>Product 0000-0156 0.0 to current version </p>
<ul>
<li>210711 me new doc</li>
<li>210725 me last update<br></small> </li>
</ul>
<hr>
<h2 id="integrator-system-overview">Integrator System Overview</h2>
<p><strong>Integrator</strong> system is a model of ALPHA-REN <em>appliance</em> which assure integration at services level between different systems.</p>
<p>It acts as high level <em>&quot;ESB, ESOA&quot;</em> to connect different services and to make them to work <strong><em>as one</em></strong> without the human intervention, ie, is automated.</p>
<hr>
<h2 id="basic-features">Basic features</h2>
<ul>
<li><strong>anywhere</strong>, can work even the systems that must be integrated are in different non routable LANs</li>
<li><strong>anyhow</strong>, is agnostic to form and look of informtion required / provided by systems that must be integrated </li>
<li><strong>anytime</strong>, can work as a distributed high scalable cluster of &quot;<strong>ALPHA-REN Integrator Machines</strong>&quot; </li>
<li><strong>secured</strong>, can work with any standard (ie, defined as <em>RFC</em>) Internet security </li>
</ul>
<hr>
<h2 id="detailed-features">Detailed features</h2>
<ul>
<li>Open API full compliant </li>
<li>Integrations, Microservices, SOA and ESB in Python</li>
<li>HA load-balancer, hot-deployment and hot-reconfiguration - deploy with no downtime
Browser-based GUI, CLI and </li>
<li>API - easy to use and customize </li>
<li>Protocols, industry standards and data formats - REST, SOAP, Odoo, AMQP, HL7, MongoDB, Redis, SAP, IBM MQ, SQL, OpenAPI, ZeroMQ, WebSockets, Cassandra, Amazon S3, Swift, LDAP, Active Directory, Kafka, SMTP, IMAP, FTP, SFTP, ElasticSearch, Solr, Memcached, Twilio, Vault, Slack, Telegram, RBAC, JMS, integration patterns, cryptography, security and more</li>
</ul>
<hr>
<h2 id="typical-use-cases">Typical use cases</h2>
<p><strong><em>ALPHA-REN Integrator</em></strong> is used for enterprise, business integrations, data science, IoT and other scenarios that require integrations of multiple systems.</p>
<p>Real-world, production <strong><em>ALPHA-REN Integrator</em></strong> environments include:</p>
<ul>
<li>A &quot;proxy like&quot; system that intermediates identity from different sources and provides an unified acces or sync this information with other LDAP system (actibg like a SSO mechanism for legacy systems) </li>
<li>A platform for processing payments from consumer devices</li>
<li>A system for a telecom operators integrating CRM, ERP, Billing and other systems as well as applications of the operator’s external partners</li>
<li>A data science system for processing of information related to securities transactions (FIX)</li>
<li>A platform for public administration systems, helping achieve healthcare data interoperability through the integration of independent data sources, databases and health information exchanges (HIE)</li>
<li>A global IoT platform integrating medical devices</li>
<li>A platform to process events produced by early warning systems, (ex SAP EWS) </li>
<li>Backend e-commerce systems managing multiple suppliers, marketplaces and process flows
B2B platforms to accept and process multi-channel orders in cooperation with backend ERP and CRM systems</li>
<li>Platforms integrating real-estate applications, collecting data from independent data sources to present unified APIs to internal and external applications</li>
<li>A system for the management of hardware resources of an enterprise cloud provider
Online auction sites
E-learning platforms</li>
</ul>
