<strong>DISCARD-COIN</strong> system is designed to provide data interfacing, consolidation, uniformity & unification and, where required, filtering from 
<strong>multiple heterogenous external sources and devices</strong>.<br>
The 'result' of <strong>DISCARD-COIN</strong> will be placed in any standard queuing system and consists of a reorganized set of consolidated, unified, sequenced,
filtered and spam free data (or other unwanted / unattended data).<br>
Then the data can be consumed for various purposes (special analytics and mining over big data) by focusing on business objective of data usage ('how to use data') and NOT on 
technical aspects of 'how to collect, when and where from' data or on possible failures or systems partitioning
