We can be found physical in the clustner partner's countries. But virtually we are present on Internet and are available by many connection channels 
(video meetings, online stores, secured and private channels for our clients demanding for that, and so on). Frequently we participate to the most exihibitions where we have our slots.
if you want we can keep you informed about the participation procedures and our slots details.
The simplest way is to bring us by mail or phone and all needs will be solved. Our products can be found on know locations on Internet, 
each of them being indicat at dedicated product sections and presentation.