<h4>INNOVATION. CREATIVITY. ADD & SHARE VALUE.</h4>
<h5>
    <em>“The true sign of intelligence is not the knowledge but imagination”</em><strong> Albert Einstein</strong>
    <br><em>“The measure of intelligence is the ability to change”</em><strong> Albert Einstein</strong>
</h5>
<h4><br>We belive that adding value is a very valuable process.<br>We belive that education for creativity is a very valuable asset.
<br>We belive that creating a vision and a story about an idea is realy faith in it.
<br>Our vision is to create useful & free software. Our vision is to create useful & scalable systems.</h4>