<strong>RENPMO</strong> package hase the following advantages:
<ul>
    <li><strong>RENPMS (NOE edition)</strong> 4 seats of product included</li>
    <li><strong>PG-BOA</strong>  1 seats ofproduct included</li>
    <li><strong>POREV</strong> 2 seats of product included</li>
    <li><strong>Training</strong> 3 days on line intensive training for 6 participants</li>
    <li><strong>Support</strong> 5 days of support in 'day-by-day' business operations</li>
</ul>
<h6><em>Please refer to products user documentation or sales presentation for more details.</em></h6>