By using the <strong>RENPMS</strong> system allows a project manager to answer to critical questions of stakeholders regarding:
<ul>
    <li><strong>Schedule, Deadlines & Time Framing</strong> – project completion in agreed & assumed timeframe</li>
    <li><strong>Budget & Costs Framing</strong> – project completion in projected financial terms</li>
    <li><strong>Potential Risks</strong> – what are the risk we are exposing to and how can be avoided</li>
    <li><strong>Cash Flow</strong> – manage payments as when and how much, debt deadlines & funding requirements</li>
    <li><strong>Quality Conformity</strong> – bounding to technical, environmental & legal requirements</li>
    <li>Various other <strong>administrative issues</strong> like missing documents, closed documents, meetings</li>
    <li><strong>Security & audit features</strong> – trace of who and when modifyied records (not in SL Edition); full log of all system operations</li>
    <li>The process of periodically <strong>project review</strong> and ‘find out the real situation’</li>
</ul>
<h6><em>Please refer to product user documentation or sales presentation for more details.</em></h6>