All versions under v0.50 are in different development and trsting stages (alfa or beta).<br>
Versions after v0.50 will be released as 'preview versions' under MIT license and will contain the standalone edition of product.<br>
A release candidate version (v1.00-rc) of WebAPI (MIT license) is intended to be released in August 2020 based on preview feedback. 
This version will be fully documented to be used primary as a projects analysis board and is design to cellect primary project data from 'any' external sources.