_                Our team are our cluster partners. We are a team and we are partners. Some of us are freelancers. Some of us own bigger companies. Some of us are full employees. Some of us are just contributors.<br>
Really this is not important. How we act, how we put in value our visions, our ideas, our contrbution, our work, is just a matter of personal options.
<h5>
Companies (alphabetical order):
<li><strong>IORDANESCU PETRE PFA</strong> - Bucharest, RO, petre.iordanescu@gmail.com, petre.iordanescu@yahoo.com, +(40)720-859.601</li>
<li><strong>REN CONSULTING SOFT ACTIVITY SRL</strong> - Bucharest, RO, office@renware.eu, renware.systems@gmail.com, +(40)720-859.601, +(40)311-079.610</li>
<br>
Peoples (alphabetical order):
<li><strong>Alina MACNEA</strong> - Software Development Systems</li>
<li><strong>Lucian PAVEL</strong> - Project Management</li>
<li><strong>Petre IORDANESCU</strong> - Embedded & Distributed Software Engineering & Design - Company founder</li>
<!--<li><strong>Silviu UTA</strong> - Cloud Infrastructure, Security & Area Distributed Systems</li>-->
</h5>