This collection of <strong>WeCo4eXL</strong> systems offer you a way to define and construct a <strong>VISION</strong> about your company <strong>WELLNESS</strong>.<br>
How will be money invest and what bennefits and yields wil you obtain from this investments; these are the main aspects that will be highlighted by this system:
<ul>
    <li>How much you need to invest</li>
    <li>How will be money used</li>
    <li>When to invest</li>
    <li>What will be your yields</li>
</ul>
<strong><u>GENERAL MONEY FLOW.</u></strong>
The system will follow the general money out-flow and will collect all necessary data from accounting to construct the picture of money transformation 
from EXPENSES to INVESTMENTS to GOODS and finally to BENEFITS and YIELDS.<br>
<br>
<strong>WeCo4eXL</strong> is a package containg the following products:
<ul>
    <li><strong>CFWeCo4eXL</strong> – Cash Flow Control</li>
    <li><strong>BuWeCo4eXL</strong> – Budget Control</li>
    <li><strong>CoWeCo4eXL</strong> – Cost Control</li>
    <li><strong>AIWeCo4eXL</strong> – Assets & Investments Control</li>
</ul>