<h6>Your company wellness is generally driven by three big factors you’ll need to keep under control.</h6>

<h5><strong><u>Health</u></strong></h5>
<h6>Health is the main factor. Clearly it is not necessarily a sign of wellness but is CLEARLY a sign of degradation and illness. 
Without health your company will decade and finally you’ll end with a bankrupt or something else.
Health can be directly measured, sensed and visualized thru the company CASH FLOW statement.<br>
But this is not enough. Doing that you can ‘assist’ to decay and you fell that you need some tools or pieces to control it.<br>
Here is where <strong>CFWeCo4eXL – Cash Flow Control</strong> comes and helps you. 
This component will help you to break the cash flow into small pieces that will give you a more concise idea where the ‘ill’ is coming from.<br>
Then by projecting some ‘what if’ scenarios you’ll see where you need to change not only for health but for a new state of wellness. 
Remember, reducing expenses is the common way to ‘kill-the-ill’ but will not increase the wellness. 
Just will give you more time for that. What are you doing with this time is another problem but for sure is your’s.</h6>

<h5><strong><u>Goodwill</u></strong></h5>
<h6>The goodwill is first sign of wellness. Identically like in the case of cash flow, the good will can be seen from company PROFIT & LOSS statement. 
What means all these numbers, how can you make to work for you, this is where the <strong>BuWeCo4eXL – Budget Control</strong> and <strong>CoWeCo4eXL – Cost Control</strong>  
will come to help you in understanting is the problem (Cost Control) and how can you change it to keep it under control (Budget Control).</h6>

<h5><strong><u>Capitalization</u></strong></h5>
<h6>This is the last part of ‘triad’ and here comes the <strong>AIWeCo4eXL – Assets & Investments Control</strong> components the reveal you where are yours medium and 
long term ‘pieces of 4 of nine gold’.</h6>

<h6><em>Please refer to product user documentation or sales presentation for more details.</em></h6>