<strong>RENware</strong> is company established officialy in 2020 but with a team with more years of experience and work in computing engineering industry. 
<strong>RENware</strong> is not a company itself but is a cluster of more enthuzistic companies, more of them being small companies or freelancer registrations. 
<strong>RENware</strong> is a cluster (or group if you like to name it so) of innovative and enthusiastic people which dedicated much of their time to research, study and research.
<br>
<strong>RENware</strong> is a place for all those who love their work and what they do. <strong>RENware</strong> is a place for all those who want to share a respectable conduit and a 
honour code regarding of what means all it's related to computer hardware, software, networking, security, and so on.
