Some people are not 'directly visible' here because they are employees to one of the partner. This does not mean that their contribution is minimized. Not at all. We can assure anybody that these people are
as happy as they want. Is just their personal option how to work and contribute. They are treated like any other people of the team. There is no difference. By respecting our 'code of cunduit and conduct'
eaach partner is responsible that these thongs to really happen as expected as as promised.
