{% extends "base/base.html" %}

{% block head_content %}
    <!-------------------------------------------------------------------------------------------------->
    <!-- main jumbotron                                           image size: 286 x 193 raport = 1.48 -->
    <!-------------------------------------------------------------------------------------------------->
    <div class="jumbotron jumbotron-fluid text-left" style="background-image: url('./static/pictures/RENbackgroud.jpg');
            background-repeat: no-repeat; background-attachment: fixed; background-size: 100%;">

        <h5 style="color: #00ffff" class="pull-right align-bottom"><b>
            SCALE UP your infrastructure IN TRANSPARENT STEPS WITHOUT DOWNTIME</b></h5>
        <h1>RENware Software</h1>

        <p style="color: #FF8000">
            <b>READY ENGINEERED SYSTEMS</b><br>
            <b>SOFTWARE DEVELOPMENT</b>
        </p>
        
            computers & computing can help your business and make your life easier,<br>  
            BUT JUST REMEMBER TO PUT THEM ALL WORK TOGETHER !</b>
        </h5>
    </div>
{% endblock %}

{% block normal_content %}
    <div class="row container-fluid">
        <div class="col-sm-5">
            <h2 class="well well-sm bg-renmotifpreview pull-right">NEWS</h2>
            <ul>
                <li><b>SDEVEN</b> RENware Software Development and Engineering Methodology <a target="_blank" rel="noopener noreferrer" href="http://static.renware.eu/sdeven">can be accessed here.</a></li>
                <li><b>PMOffice MB-APM</b> update on Februay 2021 - <a target="_blank" rel="noopener noreferrer" href="http://pmo.renware.eu/mbapm_top">IT Projects Engineering training materials</a> in progress</li>
                <li><b>PMOffice PMForms</b> update on January 2021 - <a target="_blank" rel="noopener noreferrer" href="http://pmf.renware.eu/">IProject Management Forms</a> in progress</li>
                <li>January 2021 - Unified acces REN board for employees and partners is now available <a href="{{ url_for('myrenboard') }}">here</a></li>
                <li><b>USLAS</b> update on 04-Jan-2021. Preview / demo version 0.4. Please<a href="http://products.uslas.renware.eu/"> visit here.</a>
                <li>Project oriented business (<strong>Project Management Solution</strong>) has a <a href="http://products.ren-pmo.renware.eu/">dedicated portal (visit here)</a>.
                <li>Articles & Knowledge section has been created. From now can be free used.</li>
                <li><a class="btn bg-renmotifattn btn-xs" href="http://static.renware.eu/sprili/RENware SPRILI Standard Price List EN.pdf">NEW Price list valid from Q2-2021</a></li>
                <li>15 August 2020 - RENware has been launched a special offer for start-ups and SMBs: <strong>"Software Services & Infrastructure Care"</strong>.
                Please read the full offer <a href="http://static.renware.eu/data-sheets/130.01-SKIT-00000133.SMB-SSIC4SMB-overview-from-210301.pdf"> here.</a></li>
                <li>14 August 2020 - Implementation of Enterprise Document Management System is now available
                Please write us if you are interested. A demo <a href="https://www.mayan-edms.com/demo/">can be found here.</a> 
                And some useful articles <a href="https://www.mayan-edms.com/post/">here.</a></li>
            </ul>
        </div>
        <div class="col-sm-7">
            <h2 class="well well-sm bg-renmotifattn pull-right">Business Full Stack Solutions</h2>
            <ul>
                <li><b>REGISTERING THINGS - USLAS</b>,Update February 2021 - Ths solution <b>CAN EXPOSE A COMPANY VALIDATION PORTAL where public people 
                can check | validate | renew subscription | obtain official certificates for any (product) SERIAL issued by your company</b> stating all
                aspects like: purchasing date, valability, applicability, current state, warranty state and so on. Practically anyone can check & 
                validate a product / license serial issued by your company. Classified information may be defined and made be public available ONLY 
                under special conditions (for example by a digital certificate, or a 3rd party confirmation and so on). All printable certificates 
                can be stamped with your company digital certificate if this is registered in USLAS.
                </li>

                <li><b>REGISTERING THINGS - USLAS</b>, Registrar's & Check In Offices or Departments for all things that need a serial number.  
                <a class="btn bg-renmotif btn-xs" href="http://products.uslas.renware.eu/">Dedicated portal</a>
                </li>

                <li><b>PROFESSIONAL SERVICES - PRIDOCO</b> software for collecting documents for store and / or processing. 
                    <a class="btn bg-renmotif btn-xs" href="http://pridoco.renware.eu">Solution Overview</a>
                    <br>
                    <a class="btn btn-success btn-xs" href="http://pridoco.pmb.renware.eu">PRIDOCO MASTER BOARD</a>
                    <a class="btn btn-success btn-xs" href="http://pridoco.pcb.renware.eu">PRIDOCO CLIENT BOARD</a>
                </li>

                <li><b>PROJECT MANAGEMENT - PM Office</b>, a full stack solution for projects driven business.  
                <a class="btn bg-renmotif btn-xs" href="http://products.ren-pmo.renware.eu/">Dedicated portal</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row container-fluid">
        <div class="col-sm-12">
            <h2 class="well well-sm bg-renmotifdark">UPCOMING EVENTS</h2>
            <h4>Products, Solutions & Services</h4>
                <ul>
                    <li>SEMBRE System - Full Goods Delivery business solution - 
                        <a class="btn bg-renmotif btn-xs" href="http://90.84.237.32:45001/">SEMBRE DATA Layer</a>
                    </li>
                    <li>A dedicated solutions portal about how to use RENware products in integration with 3rd party products to build new useful 
                        business systes, to make more secure the existing ones, to build your own private cloud based on microservices architecture, 
                        <b>to automate and scale your infrastructure IN SMALL AND FULLY TRANSPARENT STEPS WITHOUT DOWNTIME</b>.
                    </li>
                    <li>COSANA, a <b>solution for sales (Comprehensive Sales Analysis)</b> will have a preview version</li>
                    <li>PM Office, full stack solution for <b>projects drive business</b> <a class="btn bg-renmotif btn-xs" href="{{ url_for('static', filename='data_sheets/130.01-SKIT - 00000123 RENPMO data-sheet EN.pdf') }}">Data sheet</a></li>
                    <li><b>TRAINING & COACHING</b> services - IT industry specific - general or personalized on your business - covering: 
                    <br>- Software engineering general principles
                    <br>- Software architectures modelling and design
                    <br>- Computing core engineering: principles, hardware, operating systems
                    <br>- Computer communications: computer networks, datacenters, vulnerability & security
                    <br>- Cloud computing: distributed systems, virtualization, synchronizing
                    </li>
                </ul>
            <h4>Papers, Books, Articles - Knowledge</h4>
                <ul>
                    <li>17 Dec 2020 - New articles added. Some old own papers (the initial training for my new employees: 101-JR.new@IT.emp) was restyled and part 
                    of them uploaded. There are more chapthers in progress.</li>
                    <li>Software Architect / Software Engineer a REN Magazine</li>
                </ul>
        </div>
    </div>
{% endblock %}
