{% extends "base/base_v1.html" %}

{% block head_content %}
    <!--petre-- poate va fi nevoie.. -->
{% endblock %}

{% block normal_content %}
    <div class="jumbotron text-left uk-padding" style="background-image: url('./static/pictures/RENbackgroud.jpg');
            background-repeat: no-repeat; background-attachment: fixed; background-size: 100%;">
        <h1 style="color: #ffffff;"><b>REN</b>share</h1>
        <div class="uk-float-right uk-padding-small uk-panel uk-border-rounded" style="background-color: #eeeeee;">
            <!-- <a class="uk-button uk-button-primary uk-button" target="_blank" rel="noopener noreferrer" href="http://mymail.renware.eu"><span uk-icon="mail"></span> Mail</a> -->
            <a class="uk-button uk-button-primary uk-button" target="_blank" rel="noopener noreferrer" href="http://mycalendar.renware.eu"><span uk-icon="calendar"></span> Calendar</a>
            <a class="uk-button uk-button-primary uk-button" target="_blank" rel="noopener noreferrer" href="http://mycontacts.renware.eu"><span uk-icon="users"></span> Contacts</a>
            <a class="uk-button uk-button-danger uk-button" target="_blank" rel="noopener noreferrer" href="http://mychat.renware.eu"><span uk-icon="commenting"></span> Chat</a>
            <a class="uk-button uk-button-secondary uk-button" target="_blank" rel="noopener noreferrer" href="http://mytodo.renware.eu"><span uk-icon="pencil"></span> TODO</a>
        </div>
        <p style="color: #FF8000"><b>TEAM SHARE & COMMUNICATION BOARD</b></p>
    </div>

<div class="container">
    <h2>Useful forms & templates</h2>
    <!--TODO content to be add in time-->
    <div class="uk-column-1-2  uk-column-divider">
        <ul uk-accordion>
            <li><a class="uk-accordion-title" href="#">Form 1</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
        </ul>
    </div>

    <h2>Frequently asked questions & known issues</h2>
    <div class="uk-column-1-2  uk-column-divider">
        <ul uk-accordion>
            <li><a class="uk-accordion-title" href="#">Other resources</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">Entertainment</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">Knowing new coleagus</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">Eatting & lunch - where can I go</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">Who's who</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">Parking my car</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">Who to talk if I have a problem</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">Birocracy rules</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">What can I install on my laptop?</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">What if I'm late?</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li><a class="uk-accordion-title" href="#">It's true that somebody else can read my mail?</a>
                <div class="uk-accordion-content">
                    <p>Regarding the company mail, yes it is. But nobody has time to do that, and nobody it is paid for. The mail system is protected 
                    with a <b>Message Content Protection (MCP)</b> component for more reasons:</p>
                    <ul>
                        <li>to protect the company against outbounding mails with confidential information (for example technical / design  documents, 
                        commercial or legal non-public information about company customers, and so on)</li>
                        <li>to protect aginst outbounding mails with different kind of sensitive information (for example valid redit card numbers)</li>
                        <li>to protect aginst outbounding mails with different kind of aggressive words</li>
                        <li>to protect aginst outbounding mails with spam content in case of an attacker haked our mail servers</li>
                        <li>to protect aginst outbounding mails with potential legal implications</li>
                    </ul>
                    <p>Anyway, the mail system will retire for a while such messages, but will send them. If situation is a repeating one, a notification 
                    mail will be sent to more stuff persons. In such cases is possible to read the content of that mails, BUT FOR SURE YOU'LL BE 
                    INFORMED AND ASKED about this situation, because it is likely possible to know nothing about it.</p>
                    <p>Otherwise, we recommend you to not use the company mail for personal sensitive problems. First, the company mail address which was 
                    given to you, it is still under company responsibility simply becase the mail server is registered in DNS and CA public systems as 
                    being the company property. Second, regardless the potential legal issues, we do not like to to get into the situation to be 
                    listed on different black lists which can BLOCK ALL MAILS until the issues are solved... And third reason is related to ethics 
                    and moraliy and we do not think is the case for much more details.</p>
                    <p>Your personal problems are yours, keep them for you, and if we can help you, for sure we'll do it! But without creating 'social 
                    cases' inside company. Ask for help but do it with dignity and honor not with publicity!</p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
