{% extends "base/base.html" %}

{% block head_content %}
    <!-------------------------------------------------------------------------------------------------->
    <!-- main jumbotron                                           image size: 286 x 193 raport = 1.48 -->
    <!-------------------------------------------------------------------------------------------------->
    <div class="jumbotron jumbotron-fluid text-left" style="background-image: url('./static/pictures/RENbackgroud.jpg');
            <p>aaa</p>  
            background-repeat: no-repeat; background-attachment: fixed; background-size: 100%;">
        <h1><b>REN</b>ware</h1>
        <p style="color: #FF8000"><b>BEFORE BUY FROM RENWARE | INANITE DE A CUMPARA DE LA RENWARE</b></p>
        <a class="btn btn-sm btn-warning" href="http://static.renware.eu/rencpolicies/GTCo-RO.pdf" 
            target="_blank" role="button">General Terms & Conditions</a>
        <a class="btn btn-sm btn-primary" href="http://static.renware.eu/sprili/RENware SPRILI Standard Price List EN.pdf" 
            target="_blank" role="button">SPRILI</a>
    </div>

    <div class="container-fluid row">
        <div class="col-sm-3">
            <h2 class="well well-sm bg-renmotifdark">Before buy by from RENware</h2>
            <ul>
                <li>Please read - rugam cititi <a href="http://static.renware.eu/rencpolicies/GTCo-RO.pdf" 
                    target="_blank">GTCo = General Terms & Conditions- Termenii generali si conditiile</a></li>
                <li>Please consult - rugam consultati <a href="http://static.renware.eu/sprili/RENware SPRILI Standard Price List EN.pdf" 
                    target="_blank">SPRILI = Standard Price List - Lista de preturi standard</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2 class="well well-sm bg-renmotifdark">General Terms & Conditions</h2>
            <ul>
                <li>DEFINITII SI TERMENI</li>
                <li>CLASIFICATIA PRODUSELOR RENWARE</li>
                <li>SFERA DE APLICABILITATE</li>
                <li>ACCEPTUL CLIENTULUI</li>
                <li>FACTURAREA PRODUSELOR</li>
                <li>POLITICA DE CONFIDENTIALITATE</li>
                <li>LIVRAREA PRODUSELOR</li>
                <li>GARANTIA PRODUSELOR</li>
                <li>RETURNAREA PRODUSELOR</li>
                <li>SUPORT</li>
                <li>PARTICULARITATI ALE CLASELOR SI PRODUSELOR | SERVICIILOR AFERENTE</li>
                <li>RENUNTAREA LA PRODUSE SI TRANSFERUL / CEDAREA DREPTURILOR AFERENTE</li>
                <li>ACORDAREA DREPTURILOR</li>
            </ul>
            <a class="btn btn-sm btn-warning" href="http://static.renware.eu/rencpolicies/GTCo-RO.pdf" 
            target="_blank" role="button">General Terms & Conditions</a>
        </div>
        <div class="col-sm-5">
            <h2 class="well well-sm bg-renmotifdark">Standard PRIce LIst</h2>
            <h3>Capabilities & Resources</h3>
            <p>This section describes the capabilities that can be fullfiled by RENware and the list of resource types. 
            <br>The most important point is represented by capability-resource matrix which guides you to right choose what resources fit perfectly your needs.</p>
            <h3>RENware Products / Solutions</h3>
            <p>For most of RENware products or solution you'll find find information about different kind of packages available, guides for services needed to use the product / solution and all information you need to estimate your costs if you need that solution. 
            <br>However the information regardind maintenance cannot be put here because they depends too much of your team, systems, communications, distance, remote access and son on. These can be estimated only by discussing with our support team.</p>
            <a class="btn btn-sm btn-primary" href="http://static.renware.eu/sprili/RENware SPRILI Standard Price List EN.pdf" 
            target="_blank" role="button">SPRILI</a>
        </div>
    </div>

{% endblock %}
